@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,500;0,700;1,400;1,500;1,600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
    scroll-behavior: smooth;
}

body{
    background-color: #24252A;
    color: #ffff;
    opacity: .9;
}

header {
    position: fixed;
    width: 100%;
    padding: 10px 25px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: .6;
    background: rgb(235, 231, 231);
}

header .logo img{
    height: 50px;
    border-radius: 50px;
}
/* FUNCTION AT THE MOMENT THE POSITION OF THE MENU IS TO LEFT AND HIDDEN 100%*/
.menu {
    position: absolute;
    top: 100%;
    left: -100%;
    display: block;
    padding: 100px 50px;
    text-align: center;
    width: 100%;
    height: 100vh;
    background:#24252A;
    transition: 0.5s;
}
/* WHEN IT IS ACTIVE THEN THEN IT SHOULD RETURN 100% BACK */
.menu.active {
    left: 0;
}
/*  FUNCTION  */
.menu li {
    margin: 40px 0;
    list-style: none;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    list-style: none;
    font-size: 30px;
    letter-spacing: 2px;
    transition: .6s;
}

.menu li a:hover {
    text-decoration: overline;
}
/* FUNCTION THE ICONS SHOULD TOGGLE BACK AND FORTH, IN ADDITION, LISTEN FOR ON EVENT AND CREATE ONE FUNCTION THAT IS TIED TO THE MENU AND THE NAV ICONS TO WORK IN UNISON*/
.toggle {
    width: 60px;
    height: 60px;
    background-image: url('images/hamburger.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}

.toggle.active {
    background-image: url('images/close.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}
/* FUNCTION */

section {
    padding: 100px;
}

.banner {
    position: relative;
    min-height: 110vh;
    background: url(images/candid.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border-bottom: rgb(173, 216, 230, .8) 3px solid;
    padding: 0;
}

.name {
    font-size: 80px;
    margin-bottom: 15px;
}
  
.mission {
    font-size: 25px;
    color: #fff;
    opacity: .7;
}

.about {
    text-align: center;
    width: 100%;
    background: url(images/ocean.webp);
    background-size: cover;
    justify-content: center;
    position: relative;
    border-bottom: #fff 5px solid;
    opacity: .9;
}

.about-title {
    margin-bottom: 15px;
    font-size: 20px;
}

.developer {
    text-decoration: underline;
    font-style: italic;
}

.slash {
    display: none;
}

.content-1 {
    font-size: 18px;
}

.projects {
    background-color: #2f4353;
    background-image: linear-gradient(60deg, #2f4353 0%, #d2ccc4 75%);
    padding: 70px;
    opacity: .7;
}

.projects-title {
    text-align: center;
    font-style: italic;
    font-size: 25px;
    text-decoration: overline;
    color: #ffff;
    letter-spacing: 5px;
    transition: 0.5s;
}

.projects-title:hover {
    letter-spacing: 10px;
    color: #2f4353 ;
}

.projects .projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-content img{
    border: white 3px solid;
    height: 200px;
    width: 300px;
    margin: 10px;
    opacity: .3;
    cursor: pointer;
    transition: .5s;
}

.projects-content img:hover {
    opacity: 1.5;
}

.text h3{
    font-style: italic;
    text-decoration: underline;
    font-size: 20px;
}

/* TABLET RESPONSIVE */
@media only screen and (min-width: 768px){

        header .logo img {
            height: 90px;
            border-radius: 50px;
        }

        .brand {
            align-items: center;
            padding: 0px;
        }
    
        .projects .projects-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .projects-content img{
            border: white 3px solid;
            height: 300px;
            width: 500px;
            margin: 20px;
        }

        .mission {
            font-size: 50px;
            color: #fff;
            opacity: .7;
        }

        .slash {
            display: contents;
        }
}



/* D E S K T O P */


@media only screen and (min-width: 1024px) {
    .menu li a {
        font-size: 40px;
    }

    .projects .projects-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .projects-content img{
        height: 300px;
        width: 400px;
        margin: 50px;
    }
}